extends ../components/_layout/layout

block head
  +title('Astrohelper')

block body
  include ../components/cap
  include ../components/about
  include ../components/rates
  include ../components/promo
  include ../components/faq
  include ../components/order
