-
  const faqList = [
    'Как получить промокод?',
    'Как работают промокоды?',
    'Что будет, если не использовать промокод сразу после покупки?',
    'Могу ли я приобрести промокод в подарок?'
  ]

section.faq#faq
  .faq__cont.cont
    .faq__wrap
      h2.faq__title.h2 Вопросы и ответы
      each item, index in faqList
        .faq__box(class = index === 0 ? 'faq__box_active' : false)
          .faq__top.h4(data-element="faq-top")= item
          .faq__content.text.
            Вы выбираете желаемый период действия промокода: месяц, полгода или год, оплачиваете заказ удобным
            способом и сразу же получаете свой промокод в виде письма или СМС.


