section.order
  .order__cont.cont
    .order__area
      h2.order__title.h1 Узнай свою судьбу!
      p.order__text.text Просто выберите подходящий промокод — и используйте все возможности вашего «карманного астролога»!
      a.order__button.btn.btn_green(href='#') Купить промокод
