section.promo
  .promo__cont.cont
    .promo__wrap
      .promo__box
        h2.promo__title.h2 Приобрести промокод
        p.promo__text.text
          | Что это будет? Месячный отпуск, большое погружение на полгода или настоящая «релокация» в увлекательный
          | и загадочный мир астрологии сроком на целый год? Решать вам, но что бы вы ни выбрали,
          |
          span.blue AstroStar
          |
          | раскроет максимум информации о том, какую Судьбу готовят вам звёзды!
        p.promo__text.text.
          Раскройте все секреты и потаённые уголки собственной карты рождения, проверяйте совместимость
          с интересующим вас людьми сразу по пяти параметрам или просканируйте линии на ладони, и они сами расскажут
          о том, какую Судьбу уготовили вам звёзды!
      .promo__area
        .promo__slider(data-element="promo-slider")
          .promo__line
            button.promo__nav.promo__nav_left
            .promo__tabs
              button.promo__tab.text(data-element="promo-tab" data-id=0) месяц
              button.promo__tab.promo__tab_active.text(data-element="promo-tab" data-id=1) полгода
              button.promo__tab.text(data-element="promo-tab" data-id=2) год
            button.promo__nav.promo__nav_right
          .promo__wrapper.swiper-wrapper
            each item, index in [{headline: 'Месяц',price: '500 ₽'},{headline: 'Полгода',price: '1 499 ₽'},{headline: 'Год',price: '5 000 ₽'}]
              .promo__slide.swiper-slide
                .promo__headline.h3= item.headline
                .promo__descr.text.
                  Раскройте все секреты и потаённые уголки собственной карты рождения, проверяйте совместимость
                  с интересующим вас людьми без ограничений
                .promo__price.h3= item.price
                .promo__note.text всего 250 рублей в месяц
                button.promo__button.btn.btn_green Купить промокод
