section.rates#rates
  .rates__cont.cont
    h2.rates__title.h2 Не упустите звёздную удачу!
    .rates__subtitle.text Пришло время раскрыть все секреты и потаённые уголки собственной натальной карты!
    .rates__wrap
      .rates__area.rates__area_left
        h3.rates__headline.h3 Без промокода
        .rates__box
          .rates__name.text Расчёт гороскопа
          .rates__value.text На сегодня
          .rates__value.text На завтра
          .rates__value.rates__value_red.rates__value_line-through.text На неделю
          .rates__value.rates__value_red.rates__value_line-through.text На месяц
        .rates__box
          .rates__name.text Расчёт совместимости
          .rates__value.text Один синастрический анализ /
          .rates__value.text Один расчёт совместимости 
          .rates__value.text Расчёт совместимости без ограничений
        .rates__box
          .rates__name.text Расчёт линий Судьбы
          .rates__value.rates__value_red.text Недоступно
        .rates__box
          .rates__name.text Астрособытие недели
          .rates__value.rates__value_red.text Недоступно
      .rates__area.rates__area_right
        h3.rates__headline.h3 С промокодом
        .rates__box
          .rates__name.text Расчёт гороскопа
          .rates__value.text На сегодня
          .rates__value.text На завтра
          .rates__value.text На неделю
          .rates__value.text На месяц
        .rates__box
          .rates__name.text Расчёт совместимости
          .rates__value.text Неограниченное число синастрических прогнозов / Расчёт совместимости без ограничений
        .rates__box
          .rates__name.text Расчёт линий Судьбы
          .rates__value.rates__value_green.text Доступно
        .rates__box
          .rates__name.text Астрособытие недели
          .rates__value.rates__value_green.text Доступно

