.cap-bg
  .cap-bg__cont.cont
    picture.cap-bg__stars
      source(srcset=staticImg('cap-bg/cap-bg-stars_320.png') media="(max-width: 1439px)")
      img.cap-bg__stars-image(src=staticImg('cap-bg/cap-bg-stars.png') alt='')
.cap-bg__solar-wrap
  .cap-bg__solar-cont.cont
    picture.cap-bg__solar
      source(srcset=staticImg('cap-bg/cap-bg-solar_837.png') media="(max-width: 1439px)")
      img.cap-bg__solar-image(src=staticImg('cap-bg/cap-bg-solar.png') alt='')
