-
  const headerList = [
    { text: 'О приложении', href: '#about' },
    { text: 'Тарифы', href: '#rates' },
    { text: 'Вопросы и ответы', href: '#faq' },
  ]

header.header(data-element="header")
  .header__cont.cont
    .header__area
      if VIEW === 'index'
        .header__logo
          img.header__logo-image(src=staticImg('logo.svg') alt='')
      else
        a.header__logo(href='index.html')
          img.header__logo-image(src=staticImg('logo.svg') alt='')
      nav.header__menu
        ul.header__list
          each item in headerList
            li.header__item
              if VIEW === 'index'
                a.header__link.link-white(href=item.href data-role="scroll-to-anchor")= item.text
              else
                a.header__link.link-white(href=`/index.html${item.href}`)= item.text
      a.header__button.btn.btn_blue(href='#') Купить промокод
      button.header__burger(type="button" data-element="header__burger")

